html.slb_overlay object,
html.slb_overlay embed,
html.slb_overlay iframe {
    visibility: hidden
}

html.slb_overlay #slb_viewer_wrap object,
html.slb_overlay #slb_viewer_wrap embed,
html.slb_overlay #slb_viewer_wrap iframe {
    visibility: visible
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/yanone-kaffeesatz-v9-latin-regular.eot");
    src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url("../fonts/yanone-kaffeesatz-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/yanone-kaffeesatz-v9-latin-regular.woff2") format("woff2"), url("../fonts/yanone-kaffeesatz-v9-latin-regular.woff") format("woff"), url("../fonts/yanone-kaffeesatz-v9-latin-regular.ttf") format("truetype"), url("../fonts/yanone-kaffeesatz-v9-latin-regular.svg#YanoneKaffeesatz") format("svg")
}

#slb_viewer_wrap .slb_theme_slb_default .slb_loading,
#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_template_tag_ui,
#slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_prev .slb_template_tag,
#slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_next .slb_template_tag {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

#slb_viewer_wrap .slb_theme_slb_default a,
#slb_viewer_wrap .slb_theme_slb_default a:hover {
    border-bottom: none;
    color: #000;
    text-decoration: underline
}

#slb_viewer_wrap .slb_theme_slb_default .slb_viewer_layout {
    top: 20px
}

#slb_viewer_wrap .slb_theme_slb_default .slb_container {
    box-shadow: 0 0 64px -40px #fcfcfc;
    border-radius: 5px
}

#slb_viewer_wrap .slb_theme_slb_default .slb_template_tag_ui {
    transition: opacity .5s
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 75%;
    text-align: right
}

[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_controls {
    right: inherit;
    left: 0px
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_template_tag_ui {
    width: 25px;
    height: 25px;
    float: right;
    margin-left: 2px;
    opacity: 0.5
}

[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_template_tag_ui {
    float: left
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_template_tag_ui:hover {
    opacity: 0.8
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_slideshow .slb_template_tag {
    background: url("../images/ui_slideshow_play.png") 0 0 no-repeat
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_close .slb_template_tag {
    background: url("../images/ui_close.png") 0 0 no-repeat
}

#slb_viewer_wrap .slb_theme_slb_default.slideshow_active .slb_controls .slb_slideshow .slb_template_tag {
    background: url("../images/ui_slideshow_pause.png") 0 0 no-repeat
}

#slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_prev .slb_template_tag,
#slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_next .slb_template_tag {
    position: absolute;
    top: 20%;
    height: 71%;
    width: 45%;
    min-width: 25px;
    min-height: 33px;
    background-repeat: no-repeat;
    opacity: 0.5
}

#slb_viewer_wrap .slb_theme_slb_default .slb_content {
    min-height: 58px;
    min-width: 50px
}

#slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_prev .slb_template_tag,
[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_next .slb_template_tag {
    left: 4px;
    right: inherit;
    background-image: url("../images/nav_prev.png");
    background-position: left 45%
}

#slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_next .slb_template_tag,
[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_prev .slb_template_tag {
    right: 4px;
    left: inherit;
    background-image: url("../images/nav_next.png");
    background-position: right 45%
}

#slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_prev .slb_template_tag:hover,
#slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_next .slb_template_tag:hover {
    opacity: 1
}

#slb_viewer_wrap .slb_theme_slb_default .slb_details {
    line-height: 1.4em;
    overflow: hidden;
    position: relative
}

#slb_viewer_wrap .slb_theme_slb_default .slb_details .slb_data {
    caption-side: bottom
}

#slb_viewer_wrap .slb_theme_slb_default .slb_details .slb_nav {
    display: none
}

#slb_viewer_wrap .slb_theme_slb_default .slb_data_title,
#slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
    font-family: 'Yanone Kaffeesatz', arial, sans-serif;
    font-size: 23px;
    margin-right: .2em;
    display: inline-block
}

[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_data_title,
[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
    margin-left: .2em;
    margin-right: 0px
}

#slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
    color: #777;
    font-style: italic;
    font-size: 18.4px
}

#slb_viewer_wrap .slb_theme_slb_default .slb_data_desc {
    display: block;
    margin-top: 0.5em
}

@media screen and (max-width: 480px) {
    #slb_viewer_wrap .slb_theme_slb_default .slb_container {
        box-shadow: none;
        border-radius: 0
    }
    #slb_viewer_wrap .slb_theme_slb_default .slb_controls {
        top: 3px;
        right: 3px
    }
    #slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_prev .slb_template_tag,
    #slb_viewer_wrap .slb_theme_slb_default .slb_content .slb_next .slb_template_tag {
        top: 17%;
        height: 79%
    }
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_viewer_layout,
#slb_viewer_wrap .slb_theme_slb_baseline .slb_container {
    box-sizing: border-box
}

#slb_viewer_wrap .slb_theme_slb_baseline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    text-align: center;
    line-height: 0;
    color: #000;
    font-family: arial, verdana, sans-serif;
    font-size: 12px
}

#slb_viewer_wrap .slb_theme_slb_baseline * {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    text-align: left;
    vertical-align: baseline;
    white-space: normal;
    outline: none;
    border: 0px;
    background: none;
    opacity: 1;
    width: auto;
    height: auto;
    position: static;
    float: none;
    clear: none
}

[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_baseline * {
    text-align: right
}

#slb_viewer_wrap .slb_theme_slb_baseline a img {
    border: none
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_viewer_layout {
    z-index: 2;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_viewer_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-height: 105%;
    min-width: 100%;
    background-color: #000
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_container {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0 auto;
    padding: 16px
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_loading {
    background: url("../images/loading.gif") center center no-repeat;
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 31px;
    min-height: 31px;
    text-align: center;
    line-height: 0;
    display: none
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_template_tag_ui {
    cursor: pointer
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_content {
    position: relative
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_details {
    margin: 0 auto;
    text-align: left
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_details .inner {
    display: table;
    width: 100%
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_details .slb_data {
    display: table-caption
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_template_tag_item_content>* {
    width: 100%;
    height: 100%
}

#slb_viewer_wrap .slb_theme_slb_baseline.item_single .slb_group_status,
#slb_viewer_wrap .slb_theme_slb_baseline.item_single .slb_nav,
#slb_viewer_wrap .slb_theme_slb_baseline.item_single .slb_slideshow {
    display: none
}

#slb_viewer_wrap .slb_theme_slb_baseline.loading .slb_loading {
    display: block
}

#slb_viewer_wrap .slb_theme_slb_baseline.loading .slb_template_tag_ui {
    opacity: 0
}

@media screen and (max-width: 480px) {
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_theme_slb_baseline,
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_viewer_layout,
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_container {
        min-height: 100%;
        min-width: 320px;
        width: 100%
    }
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_viewer_layout {
        display: block
    }
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_container {
        max-width: 100%;
        margin: 0;
        padding: 5px;
        position: absolute;
        top: 0;
        left: 0
    }
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_container .slb_content img,
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_container .slb_content iframe,
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_container .slb_content object,
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_container .slb_content .slb_inner {
        max-width: 100%
    }
    #slb_viewer_wrap .slb_theme_slb_baseline .slb_container .slb_content img {
        height: auto
    }
}